:root {
  --GRADIENT-1: hsl(293, 100%, 63%);
  --GRADIENT-2: hsl(264, 100%, 61%);
  --FONT-FAMILY: 'Rubik', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--FONT-FAMILY);
  font-size: 1.6rem;
  height: 100vh;
}

.main {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  justify-content: center;
}

.bg {
  height: 87.5%;
  width: 480px;
  position: absolute;
  z-index: -10;
  font-family: var(--FONT-FAMILY);
  font-weight: 700;
}

.left-bg {
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  top: 0;
  left: -8rem;
  background: linear-gradient(var(--GRADIENT-1), 20%, var(--GRADIENT-2));
}

.right-bg {
  bottom: 0;
  right: -8rem;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  background-color: #f5f3f7;
}

.content__wrapper {
  display: flex;
  width: 840px;
  align-items: center;
  column-gap: 70px;
}

.content__text {
  line-height: 1.9;
}

.content__text > h1 {
  font-weight: 500;
  line-height: 1.9;
}

/* SCREENSHOT */

.screenshot__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 400px; */
  margin: 0 auto;
  padding: 1rem;
  background-color: hsl(270, 20%, 96%);
  border-radius: 20px;
  border: 1px solid black;
}

.screenshot__header {
  border-radius: 20px;
  display: flex;
}

.walker__wrapper {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  height: 75px;
  width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(
    to left,
    var(--GRADIENT-1),
    20%,
    var(--GRADIENT-2)
  );
  position: relative;
  z-index: 100;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.walker__wrapper--inner {
  width: 150px;
  margin-left: 50px;
  background-color: hsl(270, 20%, 96%);
  height: 20px;
  position: absolute;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1;
}

.walker__photo {
  height: 4rem;
  width: auto;
  border-radius: 50%;
  border: 1px solid white;
}

.header__icon {
}

.walker__photo {
}

.walker__name {
}

.walker__availability {
}

.walker__chat {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.walker__rates {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  background: linear-gradient(
    to right,
    var(--GRADIENT-1),
    20%,
    var(--GRADIENT-2)
  );
  color: white;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.walker__rates > h3 {
  font-size: 1.6rem;
}

.walker__rates > p {
  font-size: 1.4rem;
}

.dog-images {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.walker__name {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
}

.walker__comment,
.client__comment {
  display: flex;
  width: 80%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  line-height: 1;
  font-size: 1.4rem;
}

.walker__comment {
  background: #ece4f1;
}

.client__comment {
  /* box-shadow: 1px 1px lightgray, -1px -1px lightgray; */
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

/* .client__images {
  display: flex;
  flex-direction: column;
} */

i {
  color: white;
}

.walker__availablity {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}

.walker__elements {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 3rem;
  justify-content: space-around;
}

.input__wrapper {
  display: flex;
  height: 3rem;
  margin: 0 0.5rem;
  border: 1px solid red;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.input__wrapper > input {
  border: none;
  outline: none;
}

.la-chevron-circle-right {
  color: black;
  font-size: 32px;
}
